* {
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-bottom: 50px;
}
body {
    background-color: rgb(124, 36, 128);
}
nav {
    float: right;
}
div {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin-right: 50px;
    background-color: seagreen;
    height: 150px;
    width: 300px;
}